@media screen and (min-width: 768px) and (max-width: 1024px) {
    span {
      font-size: small;
    }
    hr {
      margin: 10px;
    }
    .wrapper_r_col {
      &_info_year {
        min-width: 11em;
      }
      &_skills {
        grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr;
        grid-gap: 0.5vw;
      }
      &_hobby {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(130.25px, 1fr) minmax(130.25px, 1fr);
        grid-gap: 1em;
      }
    }
  }