@import "./reset";
@import "./core";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(22, 19, 19);
  color: white;
}
h1 {
  font-weight: 100;
  font-size: large;
  margin: 10px 0;
  text-transform: uppercase;
}
h3 {
  margin: 10px 0;
  text-transform: uppercase;
}
hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid rgba(253, 253, 253, 0.5);
}
span {
  font-size: medium;
  color: rgba(253, 253, 253, 0.7);
  line-height: 2em;
}
a,
.prof_about {
  font-size: medium;
  color: white;
}
.wrapper {
  text-shadow: 3px 4px 5px #000;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  &_l_col {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(47, 49, 77);
    padding: 1em;
    flex: 0.1 1 auto;
    &_age {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    & > div,
    span {
      flex: 1 1 auto;
      margin: 10px 0;
    }
    &_img {
      text-align: center;
      margin-bottom: 10%;
      & img {
        height: 200px;
        border-radius: 100px;
      }
    }
    &_circle_diagramms {
      display: grid;
      width: 100%;
      grid-template-columns: 0.8fr 1fr;
      grid-gap: 2vw;
      justify-items: center;
    }
    &_contacts {
      display: flex;
      flex-direction: column;
    }
  }
  &_r_col {
    margin-left: 1.5em;
    flex: 5 1 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(47, 49, 77);
    padding: 2em 1em 1em 1em;
    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      &_year {
        display: flex;
        align-items: center;
        min-width: 13em;
      }
      &_wrap {
        display: flex;
      }
      &_intelligence {
        display: flex;
        flex-direction: column;
      }
    }
    &_skills {
      display: grid;
      grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr;
      grid-gap: 1vw;
    }
    &_hobby {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &_links {
      display: flex;
      justify-content: space-between;
    }
    &_certificate {
      display: flex;
      color: #0083da;
      text-decoration: underline;
      justify-content: space-evenly;
    }
  }
}
.age {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(250, 42, 111);
  border-radius: 25px;
}
.play {
  @include rotate;
}
.fa-bootstrap {
  color: #673ab7;
}
.fa-vuejs {
  color: #81c784;
}
.fa-html5 {
  color: #e65100;
}
.fa-css3-alt {
  color: #0277bd;
}
.fa-react {
  color: #61dbfb;
}
.fa-sass {
  color: #f06292;
}
.fa-node {
  color: #388e3c;
}
.fa-js {
  color: #f0db4f;
}
.fa-npm {
  color: #d50000;
}
.fa-github {
  color: white;
}
.arrow {
  position: relative;
  background-color: rgb(60, 63, 99);
  padding: 0px 16px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  color: white;
  border: 2px solid rgb(47, 49, 77);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid rgb(47, 49, 77);
  z-index: 1;
}

.arrow:before {
  content: "";
  position: absolute;
  left: 100%;
  top: -3%;
  z-index: -1;
  width: 28px;
  height: 28px;
  background-color: rgb(60, 63, 99);
  border-right: 2px solid rgb(47, 49, 77);
  border-bottom: 2px solid rgb(47, 49, 77);
  transform: rotate(-45deg) translate(-14px, -7px);
}
.wrapper_l_col,
.wrapper_r_col {
  border: 2px solid transparent;
}
.circle {
  background: transparent;
  width: 115px;
  height: 115px;
  font: 40px/90px Times, serif;
  text-align: center;
  border: 5px solid #1f93e0;
  border-radius: 100px;
}
.prof_name {
  text-transform: uppercase;
  color: #0083da;
  font-size: medium;
  font-weight: 900;
  line-height: normal;
}
#prof {
  color: #0083da;
  font-size: small;
  font-weight: 900;
}
.hobbies {
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-evenly;
  background-color: rgb(250, 42, 111);
  margin: 0 10px;
  border-radius: 20px;
  font-size: small;
  &:hover {
    transform: scale(1.1);
  }
  & img {
    height: 40px;
    width: 40px;
  }
  & span {
    line-height: 40px;
  }
}
.linksStyle {
  margin-right: 10px;
  color: #0277bd;
}
.show {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: #CCC center no-repeat;
  background: rgba(0, 0, 0, 0.5) center no-repeat;
  background-size: contain;
  background-origin: content-box;
  z-index: 999;
}
.open:focus + .show {
  display: block;
}
@import "./laptop";
@import "./tablets";
@import "./mobile";
@import "./oldMobile";
