@import './reset';
@import './core';
@import '../img/icomoon/style.css';

:root {
	--black-body: #161313;
	--black: #151515;
	--white: white;
	--grey-hr: rgba(253, 253, 253, 0.5);
	--grey-span: rgba(253, 253, 253, 0.7);
	--dark-grey: #333;
	--grey-blue: rgb(47, 49, 77);
	--dark-blue: rgb(60, 63, 99);
	--light-blue: #0083da;
	--button-pink: rgb(250, 42, 111);
	--jira: #2684ff;
	--aws: #f90;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--black-body);
	color: var(--white);
}
h1 {
	font-weight: 100;
	font-size: large;
	margin: 10px 0;
	text-transform: uppercase;
}

h3 {
	margin: 10px 0;
	text-transform: uppercase;
}
hr {
	width: 100%;
	margin: 20px 0;
	border: 1px solid var(--grey-hr);
}
span {
	font-size: medium;
	color: var(grey-span);
	line-height: 2em;
}
a,
.prof_about {
	font-size: medium;
	color: var(--white);
}
.prof_about_link {
	line-height: 2em;
	text-decoration: none;
}
li {
	float: left;
}
select {
	background-color: var(--dark-grey);
	color: var(--grey-span);
	border: 0.5px solid transparent;
	outline: none;
	&:hover {
		border: 0.5px solid var(--grey-span);
	}
}

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 0 2em;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	min-height: 54px;
	background: var(--black);
	width: 100%;
	z-index: 25;
}
.title {
	margin: 10px 0;
	text-transform: uppercase;
}

.nav-group {
	display: flex;
	flex-direction: row;
	width: 100%;
	&__item {
		& > a {
			display: block;
			text-align: center;
			padding: 1.2em 16px;
			text-decoration: none;
			&:hover {
				background-color: var(--black);
			}
		}
	}
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--dark-grey);
	}
}
.container {
	height: 3em;
	background-color: var(--dark-grey);
	transition: top 0.3s;
}
.wrapper {
	text-shadow: 3px 4px 5px var(--black-body);
	min-height: 100vh;
	padding: 5em 2em 2em 2em;
	display: flex;
	&_l_col {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		background-color: var(--grey-blue);
		padding: 1em;
		flex: 0.1 1 auto;
		&_age {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		& > div,
		> span {
			flex: 1 1 auto;
			margin: 10px 0;
		}
		&_img {
			text-align: center;
			margin-bottom: 10%;
			& > img {
				object-fit: cover;
				height: 200px;
				border-radius: 100px;
			}
		}
		&_circle_diagramms {
			padding-top: 20px;
			display: grid;
			width: 100%;
			grid-template-columns: 0.8fr 1fr;
			grid-gap: 2vw;
			justify-items: center;
		}
		&_contacts {
			display: flex;
			flex-direction: column;
		}
	}
	&_r_col {
		margin-left: 1.5em;
		flex: 5 1 auto;
		display: flex;
		justify-content: space-between;
		border-radius: 5px;
		background-color: var(--grey-blue);
		padding: 2em 1em 1em 1em;
		&_info {
			width: 100%;
			display: flex;
			flex-direction: column;
			&_year {
				display: flex;
				align-items: center;
				min-width: 13em;
			}
			&_wrap {
				display: flex;
			}
			&_intelligence {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
			}
		}
		&_skills {
			display: grid;
			grid-template-columns: repeat(5, 0.3fr 1fr);
			grid-gap: 1vw;
		}
		&_hobby {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
		&_links {
			display: flex;
			justify-content: space-between;
			& > a {
				text-decoration: none;
			}
		}
		&_certificate {
			display: flex;
			color: var(--light-blue);
			text-decoration: underline;
			justify-content: space-evenly;
		}
	}
}
.age {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 25px;
}
.play {
	font-size: 32px;
	@include rotate;
}

.icon-html-five {
	color: #e65100;
}

.fa-github {
	color: var(--white);
}
.icon-jira {
	color: var(--jira);
}
.icon-amazonaws {
	color: var(--aws);
}

.arrow {
	position: relative;
	background-color: var(--dark-blue);
	padding: 0px 14px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	color: var(--white);
	border: 2px solid var(--grey-blue);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid var(--grey-blue);
	z-index: 1;
}

.arrow:before {
	content: '';
	position: absolute;
	left: 100%;
	top: -3%;
	z-index: -1;
	width: 28px;
	height: 28px;
	background-color: var(--dark-blue);
	border-right: 2px solid var(--grey-blue);
	border-bottom: 2px solid var(--grey-blue);
	transform: rotate(-45deg) translate(-14px, -7px);
}
.wrapper_l_col,
.wrapper_r_col {
	border: 2px solid transparent;
}
.circle {
	background: transparent;
	width: 115px;
	height: 115px;
	font: 40px/90px Times, serif;
	text-align: center;
	border: 5px solid #1f93e0;
	border-radius: 100px;
}
.prof_name {
	text-transform: uppercase;
	color: var(--light-blue);
	font-size: medium;
	font-weight: 900;
	line-height: normal;
}
#prof {
	color: var(--light-blue);
	font-size: small;
	font-weight: 900;
}
.hobbies {
	display: inline-flex;
	flex-grow: 1;
	justify-content: space-evenly;
	margin: 0 10px;
	border-radius: 20px;
	font-size: medium;
	&:hover {
		transition: all 300ms;
		transform: scale(1.1);
	}
	& > img {
		margin: 2px 0;
		height: 40px;
		width: 40px;
	}
	& > figcaption {
		line-height: 40px;
	}
}
.linksStyle {
	font-size: 32px;
	margin-right: 10px;
	color: #0277bd;
}
.show {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background: rgba(0, 0, 0, 0.5) center no-repeat;
	background-size: contain;
	background-origin: content-box;
	z-index: 999;
}
.open:focus + .show {
	display: block;
}
.pink {
	background-color: var(--button-pink);
}
#languages {
	margin-left: auto;
	font-size: large;
}
@import './laptop';
@import './tablets';
@import './mobile';
@import './oldMobile';
