/* VARIABLES */
:root {
	/* ================= Misc ================= */
	color-scheme: light;

	/* White */
	--white: white;

	/* Gray scale */
	--gray-50: rgba(253, 253, 253, 0.7);
	--gray-100: rgba(253, 253, 253, 0.5);
	--gray-200: #cacace;
	--gray-300: #8c8c8e;
	--gray-400: #333333;
	--gray-500: #303030;
	--gray-600: #191923;
	--gray-700: #161313;
	--gray-800: #151515;
	--gray-900: #040404;

	/* Blue shades */
	--blue-200: #66b0ff;
	--blue-300: #48abed;
	--blue-400: rgb(47, 49, 77);
	--blue-500: rgb(60, 63, 99);
	--blue-600: #1a5bbf;
	--blue-700: #2684ff;
	--blue-rgb: 59, 130, 246;

	/* Pink & Violet */
	--pink-500: rgb(250, 42, 111);
	--violet-500: rgb(183, 36, 183);

	/* Brand / Special */
	--orange-500: #ff9900;
	--purple-700: #3c3163;

	/* States */
	--error: red;

	/* Gradients */
	--gradient-main: conic-gradient(
		from 90deg at 50% 50%,
		rgb(251, 55, 60),
		rgba(252, 114, 28, 1),
		rgba(255, 220, 0, 1),
		rgba(27, 206, 255, 1),
		rgba(42, 107, 255, 1),
		rgba(217, 41, 255, 1),
		rgba(255, 10, 92, 1)
	);
	--gradient-text: linear-gradient(135deg, var(--white) 0%, var(--blue-300) 100%);
	--gradient-btn: linear-gradient(
		135deg,
		rgba(var(--blue-rgb), 0.1),
		rgba(var(--blue-rgb), 0.05)
	);
	--gradient-btn-hover: linear-gradient(
		135deg,
		rgba(var(--blue-rgb), 0.2),
		rgba(var(--blue-rgb), 0.1)
	);

	--transition-time: 0.5s;
	/* font-weight */
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;
	/* font-size */
	--fs-h1: 2.5rem;
	--fs-h1-s: 2rem;
	--fs-h2: 1.8rem;
	--fs-h3: 1.5rem;
	--fs-h6: 1.2rem;
	--fs-secondary: 1.1rem;
	--fs-primary: 1rem;
	--fs-caption: 0.8rem;
	--fs-small: 0.7rem;
	// radius
	--border-radius: 5px;
	// insent
	--insent-sm: 0.3rem;
}

body,
button,
input {
	font-family: 'Roboto', sans-serif;
	background-color: var(--gray-700);
	color: var(--white);
	font-weight: var(--fw-regular);
}
html,
body {
	overscroll-behavior: none;
}
body.scroll-lock {
	overflow: hidden;
}
.container {
	max-width: 1440px;
	padding: 0 70px;
	margin: 0 auto;
	@include media(1024px) {
		padding: 0 32px;
	}
	@include media(768px) {
		padding: 0 24px;
	}
	@include media(480px) {
		padding: 0 16px;
	}
}

.block-wrapper {
	padding: 2rem;
	background-color: var(--gray-900);
	border-radius: var(--border-radius);
	@include media(768px) {
		padding: 1rem;
	}
}

.text-gradient {
	background: var(--gradient-text);
	background-clip: text;
	webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
// for accessibility
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/* Animations */
@keyframes shimmer {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
