/* VARIABLES */
:root {
	/* color */
	color-scheme: only light;
	--black-body: #161313;
	--black: #151515;
	--white: white;
	--grey-hr: rgba(253, 253, 253, 0.5);
	--grey-span: rgba(253, 253, 253, 0.7);
	--dark-grey: #333;
	--grey-blue: rgb(47, 49, 77);
	--dark-blue: rgb(60, 63, 99);
	--light-blue: #48abed;
	--button-pink: rgb(250, 42, 111);
	--jira: #2684ff;
	--violet: rgb(183, 36, 183);
	--aws: #f90;
	--tc-secondary: #8c8c8e;
	--tc-grey: #cacace;
	--bg-color: #303030;
	--bg-secondary-color: #20202a;
	/* font-weight */
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;
	/* font-style */
	--fs-primary: 1rem;
	--fs-caption: 0.7rem;
	// radius
	--border-radius: 5px;
	// insent
	--insent-sm: 0.3rem;
}

body,
button,
input {
	font-family: 'Roboto', sans-serif;
	background-color: var(--black-body);
	color: var(--white);
	font-weight: var(--fw-regular);
}
.overflow-hidden {
	overflow: hidden;
}
.container-1440 {
	max-width: 1440px;
	padding: 0 70px;
	margin: 0 auto;
	@include media(1024px) {
		padding: 0 32px;
	}
	@include media(768px) {
		padding: 0 24px;
	}
	@include media(640px) {
		padding: 0 16px;
	}
}
