/* VARIABLES */
:root {
	/* color */
	color-scheme: only light;
	--black-body: #161313;
	--black: #151515;
	--white: white;
	--grey-hr: rgba(253, 253, 253, 0.5);
	--grey-span: rgba(253, 253, 253, 0.7);
	--dark-grey: #333;
	--grey-blue: rgb(47, 49, 77);
	--dark-blue: rgb(60, 63, 99);
	--light-blue: #0083da;
	--button-pink: rgb(250, 42, 111);
	--jira: #2684ff;
	--violet: rgb(183, 36, 183);
	--aws: #f90;
	/* font-weight */
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;
	/* font-style */
	--fs-2xl: 88px;
	--fs-2xl: 73px;
	--fs-xl: 61px;
	--fs-lg: 51px;
	--fs-md: 42px;
	--fs-sm: 35px;
	--fs-xs: 29px;
	--fs-2xs: 24px;
	--fs-xl: 20px;
	--fs-text-lg: 17px;
	--fs-md: 14px;
	--fs-s: 12px;
}

body,
button,
input {
	font-family: 'Roboto', sans-serif;
	background-color: var(--black-body);
	color: var(--white);
	font-size: var(--fs-text-lg);
	font-weight: var(--fw-regular);
}
.overflow-hidden {
	overflow: hidden;
}
.container-1440 {
	max-width: 1440px;
	padding: 0 70px;
	margin: 0 auto;
	@include media(1024px) {
		padding: 0 32px;
	}
	@include media(768px) {
		padding: 0 24px;
	}
	@include media(640px) {
		padding: 0 16px;
	}
}
